name: check
on: [push, pull_request]
jobs:
  check:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
      with:
        ruby-version: '3.4'
        bundler-cache: true
    - name: lint by standard
      run: bundle exec rake standard

