name: Release new version to RubyGems.org

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-slim

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - uses: rubygems/release-gem@v1
